# Variables para docker-compose
# Copia este archivo como .env y reemplaza los valores
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"

JWT_SECRET=genera_una_cadena_aleatoria_fuerte
JWT_REFRESH_SECRET=genera_otra_cadena_aleatoria_fuerte
